*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SIDE BAR */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    background-color: transparent;
    border-right:1px solid rgb(202, 200, 200);
    opacity: 0.9;
}

.main-content{
    position: absolute;
    padding: 15px;
    overflow-y: scroll;
    height: 100vh;
}

#wrapper.menu-shown #sidebar-wrapper{
    width: 250px;
} 

.main-content{
    padding-left: 250px;
}


#wrapper.menu-shown .main-content{
    padding-left: 250px;
} 

.sidebar-nav li{
    text-indent: 20px;
    line-height: 45px;
    list-style: none;
    text-decoration: none;
    border-radius: 20px;

}

.sidebar-nav li a{
   display: block;
   text-decoration: none;
   border-radius: 6px;
   display: flex;
    justify-content: start;
    align-items: center;
   color: black;
}

.sidebar-nav li a:hover{
    background-color: rgb(227, 227, 227);
}


.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 30px;
    color: black;
}

.fa-bag-shopping{
    font-size: 20px;
    padding-right: 22px;
}
.fa-envelope{
    font-size: 20px;
    padding-right: 20px;
}
.fa-user{
    font-size: 20px;
    padding-right: 22px;
}
.fa-user-lock{
    font-size: 20px;
    padding-right: 15px;
}


.sidebar-nav li a.active{
    color: white;
    background-color: rgb(0, 0, 0);
}

.icon-active{
    color: white;
}

.profile-link{
    text-decoration: none;
    color: black;
}

.profile-link:hover{
    text-decoration: none;
    color: black;
}

.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    max-width: 220px;
    height: 65px;
    background-color: rgba(145, 158, 171, 0.12);
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 20%;
}

.home-img-wrapper{
    margin-top: 10%;
    margin-bottom: 20%;
}

.username{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

.profile-img-wrapper{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.img{
    width: 100%;
    height: 100%;
}

.logout-link{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    margin-left: 16%;
    bottom: 0;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30%;
    color: black;
}

.logout-link.a{
    font-size: 20px;
}

.logout-link:hover{
    text-decoration: none;
    color: black;
}

/* PRODUCT PAGE */
body{
    background-color: #f3f3f3;
}

.toggle-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.btn{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-title{
    font-family: 'Poppins', sans-serif;
    text-align: start;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 5%;
    padding-top: 3%;
}

.add-cart-btn{
    width: 50%;
    height: 50%;
    background-color: black;
    outline: none;
    border: none;
}

.add-cart-btn:hover{
    color: black;
    background-color: green;
}

.alert{
    border-radius: 20px;
    max-width: 180px;
    max-height: 40px;
    margin-left: 42%;
    font-size: 12px;
    text-align: center;
}

a.close{
    line-height: 0.85;
    font-size: 15px;
}


.navbar{
    background-color: pink;
}

.navbar-container{
    width: 100%;
}

.inner-div{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    padding-bottom: 10%;
}

.img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
}

.product-container{
   padding-top: 25px;
}

.product-name{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 20px;
    font-weight: 800;
}

.product-price{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.product-price::before{
    content: "$";
}

.quantity-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea:focus, input:focus{
    outline: none;
}

.quantity{
    border: none;
    border-radius: 20px;
    width: 20%;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    outline-style: none;
    font-size: 12px;
}

.quantity:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.quality-text{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-left: 25px;

}


.quantity::before{
    content:"Quantity";
    color: black;
}


.table-div{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    margin-top: 25px;
}

.table{
    border: none;
}



.table-col{
    font-family: 'Poppins', sans-serif;
    border: none;
}

.table-title{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 25px;
    padding-bottom: 5px;
}

.table-bordered td, .table-bordered th {
    border: none;
}

.table-bordered th {
    border-bottom: 2px solid black;
}



